doctype html
html(lang="en")
	head
		title= pageTitle
		link(href='main.css', rel='stylesheet').
    
	body
		h1 Timbo Slice
		div
			a(href="http://www.facebook.com/tim.heaphy") FB ME
			a(href="http://www.twitter.com/pandatim") TWT ME
			a(href="http://www.instagram.com/sirtimothyblandford/") IG ME
