body {
  background-color: #fff;
}
h1 {
  background-color: #fff;
  border-bottom: 3px solid #32cd32;
  width: 50%;
  margin: 20px auto;
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgba(0,0,0,0.5);
  text-transform: lowercase;
}
div {
  background-color: rgba(0,0,0,0.2);
  width: 50%;
  margin: 0 auto;
  padding: 10px 0;
}
a {
  text-decoration: none;
  color: #32cd32;
  font-weight: bold;
  padding-top: 10px;
  font-size: 4em;
  display: block;
  width: 95%;
  margin: 0 auto;
  text-align: center;
}
a:hover {
  background-color: rgba(0,0,0,0.5);
}
