bgcolor = navy;
linkColor = limegreen;
transBack = rgba(0, 0, 0, 0.2)
transFront = rgba(0, 0, 0, 0.5)

body
	background-color white

h1 
	background-color white
	border-bottom 3px solid limegreen
	width 50%
	margin 20px auto
	text-align center
	padding-bottom 10px
	padding-top 10px
	color transFront
	text-transform lowercase

div
	background-color transBack
	width 50%
	margin 0 auto
	padding 10px 0
a
	text-decoration none
	color linkColor
	font-weight bold
	padding-top 10px
	font-size 4em
	display block
	width 95%
	margin 0 auto
	// background-color bgcolor
	text-align center

a:hover
	background-color transFront
	